.projectsWrapper {
  background-color: #1a1614;
  margin: 1em 1em;
  border-radius: 0.5em;
  padding-top: 1em;
  color: #fefffe;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectImg {
  width: 7em;
  height: 7em;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  height: 9em;
  width: 9em;
  background-color: #fefffe;
  margin: 1em;
}

@media screen and (max-width: 959px) {
  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
