.GallaryNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: #1a1614;
  border-radius: 0.5em 0.5em 0 0;
  margin: 0 1em 0 1em;
}

.navWrap > img {
  margin: 1.1em;
}

.navImg {
  height: 2em;
  width: 2em;
  padding: 0.8em;
  margin-top: 1em;
}

.navBg {
  background-color: #fefefd;
  border-radius: 0.5em;
}

#navReact {
  height: 3.5em;
  width: 3.5em;
  /*padding: 0.1em;*/
  /*margin-top: 1.1em;*/
}

.arrow {
  padding: 1em 0;
  color: #fefefd;
}

.arrow:hover {
  color: black;
}

@media screen and (max-width: 959px) {
  .GallaryNav {
    align-items: center;
    justify-content: center;
  }

  .navWrap > img {
    margin: 0.5em;
  }

  .navImg {
    height: 1.5em;
    width: 1.5em;
    margin: 0;
    padding: 0.5em;
  }

  #navReact {
    height: 2.6em;
    width: 2.6em;
  }

  .arrow {
    display: none;
  }
}
