.active {
  opacity: 0.5;
}

.GalleryNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: #1a1614;
  border-radius: 0.5em 0.5em 0 0;
  margin: 0 1em 0 1em;
}

.navImg {
  height: 2em;
  width: 2em;
  padding: 0.8em;
  margin-top: 1em;
  margin: 1.1em;
  background-color: #fefefd;
  border-radius: 0.5em;
}

.navImg:hover {
  opacity: 0.5;
}

.navReact {
  height: 3.5em;
  width: 3.5em;
  padding: 0.1em;
  margin-top: 1.1em;
  background-color: #fefefd;
  border-radius: 0.5em;
}

.navReact:hover {
  opacity: 0.5;
}

.arrow {
  padding: 1em 0;
  color: #fefefd;
}

.arrow:hover {
  color: black;
}

@media screen and (max-width: 959px) {
  .GalleryNav {
    align-items: center;
    justify-content: center;
  }

  .navImg {
    height: 1.5em;
    width: 1.5em;
    padding: 0.5em;
    margin-bottom: 0.8em;
    margin-right: 0.5em;
    margin: 0.5em;
  }

  .navReact {
    height: 2.6em;
    width: 2.6em;
    padding: 0em;
    margin-bottom: 0.95em;
  }

  .arrow {
    display: none;
  }
}
