.itemWrapper {
  display: flex;
  flex-wrap: wrap;
}

.item {
  height: 12em;
  width: 9em;
  margin: 0.85em;
}

.item > h5 {
  margin: 0.5em 0;
}

.item > p {
  font-size: 11px;
}

.itemImg {
  width: 4em;
  height: 4em;
}

.itemImg:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 959px) {
  .itemWrapper {
    justify-content: center;
  }
}
