.skills {
  width: 93%;
}

.skillsWrapper {
  margin: 1;
  background-color: #fefffe;
  display: flex;
  flex-direction: column;
}

.html {
  background-color: #e55126;
  width: 80%;
}

.css {
  background-color: #0c72b8;
  width: 80%;
}

.js {
  background-color: #efdb4e;
  width: 60%;
}

.node {
  background-color: #82cd29;
  width: 50%;
}

.react {
  background-color: #60d9fa;
  width: 50%;
}

.bootstrap {
  background-color: #5a4182;
  width: 40%;
}

.postgres {
  background-color: #336690;
  width: 40%;
}
