.skillsWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1em 2em 1em 2em;
  background-color: #1a1614;
  width: 89%;
  margin: 1em;
  border-radius: 0.5em;
}

.skillCard {
  background-color: #fefffe;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 0.5em;
}

.hex {
  width: 4em;
  height: 4em;
  margin: 0 0.2em;
}

.hex:hover {
  transform: scale(1.2);
}

.skillsWrapper h3 {
  color: #fefffe;
  margin: 0;
  padding: 1em;
}

.skillsWrapper h4 {
  margin: 0;
  padding: 0.5em;
}
