.container {
  display: flex;
  padding: 0.2em;
  margin: 0;
  background-image: url("../../assets/board.gif");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}

@media screen and (max-width: 959px) {
  .container {
    flex-direction: column;
  }
}
