.contact {
  display: flex;
  justify-content: space-around;
}

.contact > span {
  flex: 1;
  margin: 1em 0;
}

span > p {
  font-size: 10px;
}

.devContact {
  color: black;
}

@media screen and (max-width: 959px) {
  .contact > span {
    flex-wrap: wrap;
    margin: 0.3em;
  }

  span > p {
    display: none;
  }
}
