.contact {
  display: flex;
  justify-content: space-around;
}

.contact > span {
  flex: 1;
  margin: 1em 0;
}

span > p {
  font-size: 10px;
}

.devContact {
  color: black;
  transition: transform 0.2s, opacity 0.3s;
}

.devContact:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 959px) {
  .contact > span {
    flex-wrap: wrap;
    margin: 0.3em;
  }
}
