@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  font-family: 'Fira Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media screen and (max-width: 959px) {
  h1,
  h2 {
    margin: 0;
  }

  .navbar {
    justify-content: flex-end;
  }

  .card {
    margin: 1;
    text-align: center;
  }

  #wrapper {
    flex-direction: column;
  }
  .landingWrapper {
    height: 95vh;
  }
  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #headshot {
    margin: 0;
  }
  #devWrapper {
    display: block;
  }

  #headshot {
    height: 20em;
    width: 20em;
  }
}
