.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-align: left;
  padding: 0 2em;
}

.headshot {
  margin-left: 0.6em;
  border-radius: 2em;
  min-width: 15em;
  height: 15em;
  width: 18em;
  align-self: center;
}

.card {
  display: flex;
  margin: 1em;
  background-color: #fefffe;
  padding: 1.3em;
  border-radius: 0.5em;
  margin: 1em;
}

.dev {
  display: flex;
  align-items: center;
  margin-left: 1.8em;
}

@media screen and (max-width: 959px) {
  .text {
    font-size: 13px;
    padding: 0 0.8em;
  }
  .dev {
    align-content: center;
  }
  .headshot {
    align-self: center;
    height: 17em;
    width: 17em;
    min-width: 17em;
    margin-left: 0;
  }
  #devCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
