.card > img {
  border-radius: 2em;
  height: 25em;
  width: 25em;
}

.card {
  display: flex;
  margin: 1;
  background-color: #fefffe;
  padding: 1.3em;
  border-radius: 0.5em;
  margin: 1em 1.2em;
}

.dev {
  display: flex;
  align-items: center;
  margin-left: 1.8em;
}

.contactDev {
  margin: 3em 0.3em 0 0;
  color: black;
}

.contactI {
  margin: 0 1em 0.5em 0;
  color: black;
}
